.about__albums {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 17px;
    margin-top: 20px;
    /* background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); */
    padding-left: 85px;
    padding-top: 18px;
}
