.warning {
	position: fixed;
	bottom: 0;
	left: 0;
	display: none;
	justify-content: center;
	width: 100%;
	padding: 30px;
	box-sizing: border-box;
	background-color: rgb(255, 255, 255);
}

.warning--active {
	display: flex;
}

.warning__text {
	margin-right: 30px;
}

.warning__read {
	display: block;
	margin-left: 15px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid;
}

.warning__apply {
    border: none;
    background-color: rgb(172, 0, 34);
    color: rgb(255, 255, 255);
    cursor: pointer;
}