.footer {
  margin-bottom: 60px;
  max-width: 1440px;
  width: 100%;
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .footer {
    margin-top: 54px;
    margin-bottom: 36px;
    max-width: 282px;
  }
}